nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    padding: 0.5rem;
    display: block;
}

main {
    max-width: 840px;
}

h1 {
    color: #1b3b6f;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #ccc;
    padding: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
}